html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 13px;
    background: #eeeeee;
    line-height: 1;
}
.wrapper {
    max-width: 720px;
    margin: 0 auto;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    color: #e74c3c;
    text-decoration: none;
}
a:hover {
    color: #c0392b;
}
b {
    font-weight: bold;
}
input[type="text"],
input[type="number"] {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
input[type="number"] {
     -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
select {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    padding: 5px 8px;
    width: 120%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}
select:focus {
    outline: none;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
.select-wrapper {
    border: 1px solid #cccccc;
    overflow: hidden;
    background: #fafafa url("images/arrowdown.png") no-repeat 94% 50%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.btn {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    border: none;
    padding: 10px 20px;
    font-size: 13px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 1s ease;
}
.btn-red {
    background: #e74c3c;
    color: #ffffff;
}
.btn-red:hover {
    background: #c0392b;
}
.section {
    margin-bottom: 20px;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
}