<div class="task-list">
	<div *ngIf="tasks.length == 0" class="empty-message">
		Uh oh! Looks like you haven't got anything to focus on.<br />Start by adding something to do :)
	</div>
	<div class="section" *ngFor="let date of dates">
		<div class="wrapper" *ngIf="checkHasTasks(date.day)">
			<div class="date">
				<div class="day">{{date.date}}</div>
				<div class="month">{{date.month}}</div>
			</div>
			<div class="day-of-week">{{date.day}}</div>
			<ul>
				<li *ngFor="let task of getTasks(date.day)">
					<div class="card">
						<i class="fa fa-bars handle"></i>
						<div class="card-content">
							<input class="input-description" type="text" [(ngModel)]="task.description" #focusable />
							<div class="actions">
								<a href="javascript:void(0)" (click)="focusable.focus()"><i class="fa fa-pencil"></i> Edit</a>
								<a href="javascript:void(0)" (click)="deleteTask(task)"><i class="fa fa-trash-o"></i> Delete</a>
							</div>
						</div>
						<div class="counter">
							<div class="icon">
								<div class="hours" *ngIf="task.status == 'To Do'">{{task.counter}}h</div>
								<div class="play" *ngIf="task.status == 'To Do'" (click)="task.status='In Progress'"><i class="fa fa-play-circle"></i></div>
								<div class="timer" *ngIf="task.status == 'In Progress'"><i class="fa fa-clock-o"></i><div class="hours-small">{{task.counter}}h</div></div>
								<div class="done" *ngIf="task.status == 'Done'"><i class="fa fa-check"></i></div>
							</div>
							<div class="select-wrapper">
								<select class="status" [(ngModel)]="task.status">
									<option value="To Do">To Do</option>
									<option value="In Progress">In Progress</option>
									<option value="Done">Done</option>
								</select>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>